@charset "UTF-8";

* {
    font-family: "Roboto", tahoma, arial, sans-serif;
    margin: 0px;
}

.nav_controle {
    background-color: #162028;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav_controle h1 {
    margin: 0;
    padding-left: 10%;
}

.nav_controle a {
    text-decoration: none;
    color: #425564;
    margin: 0 15px;
}

.nav_links {
    display: flex;
    gap: 30px; 
}

.nav_controle_fundo img {
    width: 100%;
    height: auto;
    display: block;
}

h1,
h2 {
    font-family: 'Viaoda Libre', cursive;
    font-weight: normal;
} 

.corpo_centro {
    text-align: center;
    width: 43%;
    margin: auto;
    font-size: 20px;
}

.corpo_centro h2 {
    padding: 90px 0 15px 0;
    font-size: 30px;
    margin: 10px;
}

.conteudo_min {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo_min_foto {
    margin: 15px;
    padding-bottom: 30px;
    /*gap: 30px;*/
}

.roda_pe {
    background-color: #003d52;
    padding: 6.5em;
    color: white;
    background-image: url(../imagens/bg_detalhe.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    height: auto;
}

footer {
    color: #6f8597;
    background-color:  #0b171f;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    text-align: center;
}